<div *ngIf="layout == 'desktop'">
  <div class="desktop-white-background">
    <div class="desktop-page-title">
      COLD SATS
    </div>
    <div class="desktop-page-subtitle">
      My name is Red and I run the Lightning node Cold Sats. I like to code, write and share.
    </div>
  </div>
  <div class="content-container">
    <div *ngFor="let section of getSections(); let first = first">
      <div class="desktop-section-title" [ngStyle]="first ? {'padding-top': '10px'} : {'padding-top': '30px'}">
        {{section.title}}
      </div>
      <div *ngFor="let card of section.cards; let f = first">
        <a [href]="card.url" target="_blank" class="button-container link" [ngStyle]="f ? {'margin-top': '10px'} : {'margin-top': '20px'}">
          <img class="desktop-image" [src]="card.image">
          <div class="desktop-title-description-container">
            <div class="desktop-title">
              {{card.title}}
            </div>
            <div class="desktop-header">
              {{card.description}}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="layout == 'mobile'">
  <div class="mobile-white-background">
    <div class="mobile-page-title">
      COLD SATS
    </div>
    <div class="mobile-page-subtitle">
      My name is Red and I run the Lightning node Cold Sats. I like to code, write and share.
    </div>
  </div>
  <div class="content-container">
    <div *ngFor="let section of getSections(); let first = first">
      <div class="mobile-section-title" [ngStyle]="first ? {'padding-top': '5px'} : {'padding-top': '30px'}">
        {{section.title}}
      </div>
      <div *ngFor="let card of section.cards; let f = first">
        <a [href]="card.url" target="_blank" class="link mobile-content-container">
          <div class="mobile-title-description-container" [ngStyle]="f ? {'margin-top': '10px'} : {'margin-top': '20px'}">
            <a *ngIf="card.image" [href]="card.url" target="_blank"><img class="mobile-image" [src]="card.image"></a>
            <div class="mobile-title" style="padding-top:4px">
              {{card.title}}
            </div>
          </div>
          <div class="mobile-header">
            {{card.description}}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
