<ng-container *ngIf="navLocation == 'top'">

  <div class="desktop-nav-container">
    <form [formGroup]="form" novalidate action="#" >
      <div class="menu-buttons">
        <img src="assets/images/cold-sats.png" class="logo">
        <div style="margin-left: auto;">
          <img [src]="'assets/images/tiles.png'" class="tiles-image" (click)="toggleView()">
        </div>
      </div>
    </form>
  </div>

  <div class="centered-input">
    <sats-input
      formControlName="search"
      [form]="form.controls['search']"
      [label]="'Search'"
      [icon]="'assets/images/search.png'">
    </sats-input>
  </div>

  <div class="desktop-back-button-container">
    <a
      *ngIf="showBackButton"
      (click)="goBack()"
      [ngClass]="showBackButton ?
      '' :
      'dont-display'"
      class="desktop-back-button">
      <img
        src="assets/images/left-arrow-white.svg"
        class="desktop-back-button-image">
    </a>
  </div>

</ng-container>

<ng-container *ngIf="navLocation == 'bottom'">

  <div class="mobile-nav-container" *ngIf="!hideMenuButtons">

  </div>

  <div class="mobile-title-container">
    <div class="centered-input-mobile">
      <sats-input
        formControlName="search"
        [form]="form.controls['search']"
        [label]="'Search'"
        [icon]="'assets/images/search.png'">
      </sats-input>
    </div>
  </div>

</ng-container>
