
  <div class="desktop-nav-container" (click)="chooseOneRandomABC()">
    <div class="menu-buttons">
      <img src="assets/images/cold-sats.png" class="logo" *ngIf="dimensions == 'desktop'">
      <div style="margin-left: auto;">
        <img [src]="'assets/images/tiles.png'" class="tiles-image" (click)="toggleView()">
      </div>
    </div>
  </div>

  <div class="centered-input">
    <form [formGroup]="form" novalidate action="#" >
      <sats-input
        formControlName="search"
        [form]="form.controls['search']"
        [label]="'Search'"
        [icon]="'assets/images/search.png'">
      </sats-input>
    </form>
  </div>

  <div class="desktop-back-button-container">
    <a
      *ngIf="showBackButton"
      (click)="goBack()"
      [ngClass]="showBackButton ?
      '' :
      'dont-display'"
      class="desktop-back-button">
      <img
        src="assets/images/left-arrow-white.svg"
        class="desktop-back-button-image">
    </a>
  </div>
